@tailwind base;
@tailwind components;
@tailwind utilities;


*:hover {
  outline: 1px blue solid;
}

/* TODO: These colors should be included in tailwind */
.text-green-600 {
  color: rgb(22 163 74);
}

.text-red-600 {
  color: rgb(220 38 38);
}
